.Rhistory
.Rproj.user
*/.DS_Store
.DS_Store
.Rapp.history
.Renviron

## Submissions
submissions/*

## Notes
notes.md

## Core latex/pdflatex auxiliary files:
/latex/.vscode
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.bcf
.*.lb
*.blg
*.bbl
*.bdg_latexmk
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.run.xml
.Rproj.user
*.bib
*.xdv
